<!-- views/partials/nav.ejs -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon glyphicon-cog"></span>
        Ark - SMK JakPus 1
      </a>
    </div>

    <ul class="nav navbar-nav pull-right">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">contact</a></li>
      <li><a href="/profile">profile</a></li>
    </ul>
  </div>
</nav>