<!-- views---pages---contac.ejs -->

<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

<body>
  <% include ../partials/nav %>

  <!-- content for about page -->
  <div class="container" id="about">
    <div class="row">
      <h2 ><%= name %></h2>
      <h2 ><%= kelas %></h2>
      <h2 ><%= sekolah %></h2>
      </div>
    </div>
  </div>
  <!-- end of content -->

  <% include ../partials/footer %> <% include ../partials/scripts %>
</body>

</html>
